<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home</title>
<style>
body {
	padding-top: 20px;
}

.navbar {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	border-radius: 0px;
}

/*-------- don't use this css its for only top margin   ----------------------*/
.margintop {
	margin-top: 20px;
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/services/customerServices.js"></script>
<script type="text/javascript"
	src="app/controller/customerController.js"></script>
<script type="text/javascript" src="app/controller/tabController.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />


<title>Insert title here</title>
</head>
<body ng-app="mainApp">

	<div class="page-header">
		<h1>Your Application</h1>

	</div>
	<div ng-controller="TabctrlController">

		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar-collapse-3">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Logo</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-3">
					<ul class="nav navbar-nav navbar-right">
						<li class="active" ng-class="{'active' : tab == 1}"><a
							href="#/home" ng-click="setTab(1)">One</a></li>
						<li ng-class="{'active' : tab == 2}"><a href="#/subs"
							ng-click="setTab(2)">Two</a></li>
						<li ng-class="{'active' : tab == 3}"><a href="#/sss"
							ng-click="setTab(3)">Three</a></li>
						<li ng-class="{'active' : tab == 4}"><a href="#/sss"
							ng-click="setTab(4)">Four</a></li>
						<li th:inline="text"><a>Hello
							[[${#httpServletRequest.remoteUser}]]!</a></li>
						<li>
							<form th:action="@{/logout}" method="post">
								<!-- input class="glyphicon glyphicon-log-out" type="submit"
									value="Sign Out" /> -->
								<button type="submit" class="btn btn-default btn-sm">
         						 		<span class="glyphicon glyphicon-log-out"></span> <li>Log out</li>
        						</button>
							</form>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<!-- /.navbar -->
	</div>
	<div class="col-md-9">
		<div ng-view=""></div>
	</div>
	<div name="footer"></div>

</body>
</html>